{% extends "base2.html" %}

{% block title %}Login{% endblock %}

{% block content %}

<meta name="thumb_imgs" content="{{thumb_urls}}">

<div class="container-fluid">
    <div class="card position-absolute top-50 start-50 translate-middle mx-auto my-1" style="max-width: 30rem;">
        <div class="row g-0 d-flex flex-column flex-md-row">
            <div class="col-12 col-md-4">
                <img src="{{first_thumb}}" id="imgThumb" class="img-fluid rounded-start" alt="Imagem de miniatura" style="width: 100%; height: auto; object-fit: cover;">
            </div>
            <div class="col-12 col-md-8">
                <form method="post">
                    {% csrf_token %}
                    <div class="card-body">
                        <h2 class="card-title">Fazer Login</h2>
                        {% for field in form %}
                            <div class="form-group">
                                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                                <input type="text" class="form-control" id="{{ field.id_for_label }}" name="{{ field.name }}">
                                {% if field.errors %}
                                    <div class="invalid-feedback">
                                        {{ field.errors }}
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                        <div class="d-flex flex-column">
                            <a href="{% url 'register' %}" class="card-link">Não tem conta? Registre-se aqui</a>
                            <button type="submit" class="btn btn-primary mt-2">Entrar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        var thumbUrls = {{ thumb_urls | safe }};
        let imgElement = $("#imgThumb");
        imgElement.attr('src', thumbUrls[0]);

        function changeThumbImg() {
            let imgChosen = thumbUrls[Math.floor(Math.random() * thumbUrls.length)];
            imgElement.attr('src', imgChosen);
        }

        setInterval(changeThumbImg, 6000);
    });
</script>

{% endblock %}
