


{% comment %} <table class="table">
    <thead>
        <tr class="p-1" style="vertical-align: middle; text-align: center;">
            <th class="p-1">Produto</th>
            <th class="p-1" style="vertical-align: middle; text-align: center;">Preço</th>
            <th class="p-1" style="vertical-align: middle; text-align: center;" >Quantidade</th>
            <th class="p-1" style="vertical-align: middle; text-align: center;">Total</th>
            <th class="p-1" style="vertical-align: middle; text-align: center;">Ação</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        {% for item in cart %}
            <tr class="p-1">
                <td class="p-1"><img src="{{ item.product.imagem.thumb.url }}" alt="{{ item.product.name }}" style="width: 250px; height: 300px; object-fit: cover;"></td>
                <td class="p-1" style="vertical-align: middle; text-align: center;">{{ item.price }}</td>
                <td class="p-1" style="vertical-align: middle; text-align: center;">{{ item.quantity }}</td>
                <td class="p-1" style="vertical-align: middle; text-align: center;">{{ item.total_price }}</td>
                <td class="p-1" style="vertical-align: middle; text-align: center;">
                    <form action="{% url 'cart:cart_remove' item.product.id %}" method="post">
                        {% csrf_token %}
                        <input type="submit" class="btn-sm btn-outline-danger" value="Remover">
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
  </table> {% endcomment %}


{% block content %}

    {% for item in cart %}
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
            <div class="col-md-4">
                <img  src="{{ item.product.imagem.thumb.url }}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                <h6 class="card-title">{{ item.product.nome }}</h6>
                <p class="card-text">R$ {{item.total_price}} - quantidade {{item.quantity}}</p>
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <button type="button" class="btn btn-outline-dark">-</button>
                    <button type="button" class="btn btn-outline-dark" disabled>{{ item.quantity }}</button>
                    <button type="button" class="btn btn-outline-dark">+</button>
                </div>
                <form action="{% url 'cart:cart_remove' item.product.id %}" method="post">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-outline-danger" value="Remover">
                </form>
                {% comment %} <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p> {% endcomment %}
                </div>
            </div>
            </div>
        </div>
      {% endfor %}

{% endblock %}



