

{% block content %}

    {% for item in cart %}
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
            <div class="col-md-4">
                <img  src="{{ item.product.imagem.thumb.url }}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                <h6 class="card-title">{{ item.product.nome }}</h6>
                <p class="card-text">R$ {{item.total_price}} - quantidade {{item.quantity}}</p>
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <button type="button" class="btn btn-outline-dark">-</button>
                    <button type="button" class="btn btn-outline-dark" disabled>{{ item.quantity }}</button>
                    <button type="button" class="btn btn-outline-dark">+</button>
                </div>
                <form action="{% url 'cart:cart_remove' item.product.id %}" method="post">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-outline-danger" value="Remover">
                </form>
                {% comment %} <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p> {% endcomment %}
                </div>
            </div>
            </div>
        </div>
      {% endfor %}

{% endblock %}



